{<<"app">>,<<"erlzmq">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang ZeroMQ Dirty NIF">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"c_src/erlzmq_nif.c">>,
  <<"include/erlzmq.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/erlzmq.app.src">>,<<"src/erlzmq.erl">>,<<"src/erlzmq_nif.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/lukaszsamson/erlzmq">>}]}.
{<<"name">>,<<"erlzmq_dnif">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"4.1.3">>}.
