{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.

{project_plugins, [rebar3_hex]}.
%% Compile nif using port compiler plugin
{plugins, [pc]}.
{artifacts, ["priv/erlzmq_nif.so"]}.
{port_env, [{"CFLAGS", "$CFLAGS -I/usr/local/include -I./include -g -Wall -Werror"},
            {"LDFLAGS", "$LDFLAGS -L/usr/local/lib -lzmq"}]}.
{port_specs, [{ "priv/erlzmq_nif.so", ["c_src/*.c"] }]}.

%% {profiles, [
%%     {docs, [{edoc_opts, [{preprocess, true},
%%                          {doclet, edoc_doclet_chunks},
%%                          {layout, edoc_layout_chunks},
%%                          {dir, "_build/default/lib/erlzmq/doc"}]}
%%     ]}
%% ]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{eunit_opts, [
    verbose
]}.

{hex, [
    {doc, #{provider => edoc}}
]}.
